#debug_log {
  background-color: #aaa;
  border: solid black 2px;
  overflow: auto;
  width: 75%;
  height: 300px;
}

#debug_log:before {
  content: "Debugging Messages";
  display: block;
  text-align: center;
  font: bold 18pt sans-serif;
}

.debug_message {
  border-bottom: solid black 1px;
}

.logDiv {
  width: 97%;
  margin-left : 15px;
  margin-right : 5px;
  border : dashed blue 1px;
}

.logRow {
  clear: both;
}

.logCell_1 {
  float: left;
  font-size: 8pt;
  font-weight: bold;
  padding-right: 2px;
  width: 160px;
  display: inline;
}

.logCell_2 {
  float: left;
  font-size: 8pt;
  display: inline;
}

.logCell_3 {
  font-size: 12pt;
  white-space: nowrap;
  width: 100%;
  display: inline;
}
