h1 { font-size: 1.5em; }

#container {
  overflow: auto; width: 10em; height: 7em; padding: 0.5em;
  border: 1px solid black;
}

#container p { margin: 0 0 0.5em; }

#queen { background-color: #ddd; cursor: move; }
